@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Poppins', sans-serif;
    background-color: orange;!important
}

.hero-section {
    background: url('https://i.ibb.co/HBqY7Sp/hero-bg.jpg');
    background-position: center;
    background-size: cover;
}

.navbar-nav .nav-item a {
    padding: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    margin: 0px 7px;
}

.contact-btn a {
    text-decoration: none;
    padding: 10px 30px;
    background: linear-gradient(45deg, #006e42, #001950);
    border-radius: 6px;
    color: rgb(255 255 255);
}

.hero-btn a {
    text-decoration: none;
    padding: 10px 30px;
    background: linear-gradient(45deg, #006e42, #001950);
    border-radius: 6px;
    color: rgb(255 255 255);
    border: none;
}



.paragraghs{
    font-size:10px;
}